body {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

header h1 {
    color: black; /* Azul vibrante */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: 2px solid #e0e0e0;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.card-text {
    margin-bottom: 5px;
}

.card-body a {
    margin-top: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

.card, .btn, input, select {
    border-radius: 8px;
}

#planet {
    animation: bounce 1s infinite ease-in-out;
    display: inline-block;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Posição inicial e final no mesmo lugar */
    }
    50% {
        transform: translateY(-20px); /* Pulo no meio da animação */
    }
}